<mat-toolbar color="primary">
  <span>FOREX Rates Recorder and Monitor</span>
</mat-toolbar>
<marquee scrolldelay="100">
  <span><b>Latest High Price: </b> {{latestHighPrice}}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <b>Latest Low Price: </b> {{latestLowPrice}}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     <b>Average Closing Price: </b> {{averageClosingPrice}}
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     <b>Average High Price: </b> {{averageHighPrice}}
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     <b>Average Low Price: </b> {{averageLowPrice}}</span>
</marquee>



<div id="highcharts" style="width:100%; height:400px;"></div>




